# JOLTS RATES

In [ ]:
import pandas as pd 
import numpy as np

In [31]:
data_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/raw_data"
output_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/output"
df = pd.read_csv(f"{data_dir}/JOLTS/jolts_rates_v2.csv")

In [32]:
df = df.rename(columns={
                            'observation_date': 'date', 
                            'JTSLDR':               'layoff_rate_jolts', 
                            'JTSQUR': 'quit_rate_jolts', 
                            'JTSJOR': 'vacancy_rate_jolts', 
})

df['date'] = pd.to_datetime(df['date'])

In [33]:
df.to_csv(f"{output_dir}/data/jolts_rates.csv", index = False)

In [35]:
# Yash Singh 
# date: 11/11/2024 
# this script creates processed data that will be used to make ue plot 

# Necessary Packages 

import numpy as np 
import pandas as pd 

# Specify directories 
data_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/raw_data"
output_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/output"

# Stock of Employed and Unemployed Workers 
#stocks = pd.read_excel(f"{data_dir}/fred_employment/employment.xls", engine='xlrd')

stocks = pd.read_csv(f"{data_dir}/fred_employment/employment_v2.csv")

# Basic Processing of stocks 
stocks.columns = ['date', 'E', 'U']
stocks = stocks.iloc[11:].reset_index(drop=True)
stocks = stocks.dropna(subset=['date', 'E', 'U'])
stocks['date'] = pd.to_datetime(stocks['date'])
stocks['U'] = stocks['U'].astype(float)

ue = pd.read_csv(f"{data_dir}/fred_flows/UE.csv")
ue.columns = ['date', 'ue_flows']
ue['date'] = pd.to_datetime(ue['date'])

data= stocks.merge(ue, on = ['date'])
data['job_finding_rate'] = data['ue_flows'] / data['U']

keep = ['date', 'job_finding_rate']
data = data[keep]

# Create 'date_quarterly' column
data["date_quarterly"] = data["date"].dt.to_period("Q").dt.start_time

In [37]:

# Collapse to quarterly level by averaging 'ee_pol'
df_quarterly = data.groupby("date_quarterly", as_index=False)["job_finding_rate"].mean()

In [38]:
df_quarterly

    date_quarterly  job_finding_rate
0       1990-01-01          0.310613
1       1990-04-01          0.282176
2       1990-07-01          0.257316
3       1990-10-01          0.258283
4       1991-01-01          0.247417
..             ...               ...
135     2023-10-01          0.278606
136     2024-01-01          0.262611
137     2024-04-01          0.266530
138     2024-07-01          0.268940
139     2024-10-01          0.237534

[140 rows x 2 columns]