In [3]:
import pandas as pd

In [6]:
data = pd.read_csv(r'C:\Users\singhy\Desktop\Chicago\cps_data\inflation\raw_data\jt.data.6.LayoffsDischarges')

In [8]:
data

       series_id                     \tyear\tperiod\t       value\tfootnote_codes
0       JTS000000000000000LDL         \t2000\tM12\t   ...
1       JTS000000000000000LDL         \t2001\tM01\t   ...
2       JTS000000000000000LDL         \t2001\tM02\t   ...
3       JTS000000000000000LDL         \t2001\tM03\t   ...
4       JTS000000000000000LDL         \t2001\tM04\t   ...
...                                                   ...
104713  JTU929000000000000LDR         \t2024\tM03\t   ...
104714  JTU929000000000000LDR         \t2024\tM04\t   ...
104715  JTU929000000000000LDR         \t2024\tM05\t   ...
104716  JTU929000000000000LDR         \t2024\tM06\t   ...
104717  JTU929000000000000LDR         \t2024\tM07\t   ...

[104718 rows x 1 columns]

In [ ]:
series_metadata = pd.read_csv('path_to_your_file/jt.series', sep='\t')
print(series_metadata.head())