In [59]:
# Yash Singh 
# date: 11/11/2024 
# this script creates processed data that will be used to

In [60]:
# Necessary Packages 

import numpy as np 
import pandas as pd

In [61]:
# Specify directories 
data_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/raw_data"
output_dir = "C:/Users/singhy/Desktop/Chicago/cps_data/inflation/output"

In [62]:
# Stock of Employed and Unemployed Workers 
stocks = pd.read_excel(f"{data_dir}/fred_employment/employment.xls", engine='xlrd')

# Basic Processing of stocks 
stocks.columns = ['date', 'E', 'U']
stocks = stocks.iloc[11:].reset_index(drop=True)
stocks = stocks.dropna(subset=['date', 'E', 'U'])
stocks['date'] = pd.to_datetime(stocks['date'])
stocks['U'] = stocks['U'].astype(float)

In [63]:
eu = pd.read_csv(f"{data_dir}/fred_flows/EU.csv")
ue = pd.read_csv(f"{data_dir}/fred_flows/UE.csv")

In [64]:
eu.columns = ['date', 'eu_flows']
ue.columns = ['date', 'ue_flows']

In [65]:
flows = eu.merge(ue, on = ['date'])
flows['date'] = pd.to_datetime(flows['date'])

In [66]:
data = stocks.merge(flows, on = ['date'])

In [67]:
data['L'] = data['E'] + data['U']

In [68]:
data['u_rate'] = data['U'] / data['L']

In [69]:
data['seperation_rate'] = data['eu_flows'] / data['E']
data['job_finding_rate'] = data['ue_flows'] / data['U']

In [70]:
keep = ['date', 'u_rate', 'seperation_rate', 'job_finding_rate']
final = data[keep]

final.loc[:, 'out_rate'] = -(final['job_finding_rate'] * final['u_rate'])
final.loc[:, 'in_rate'] = final['seperation_rate'] * (1 - final['u_rate'])

In [71]:
final.to_csv(f"{output_dir}/data/shimer_decomposition_data.csv", index=False)

In [72]:
final

          date    u_rate seperation_rate  job_finding_rate
0   1990-02-01  0.052907        0.015312          0.323560
1   1990-03-01  0.052448        0.014798          0.297666
2   1990-04-01  0.054095        0.015759          0.264970
3   1990-05-01  0.053553        0.014066          0.286414
4   1990-06-01  0.052479        0.014884          0.295144
..         ...       ...             ...               ...
411 2024-05-01  0.039641        0.009604          0.265604
412 2024-06-01  0.040539        0.009566          0.262957
413 2024-07-01  0.042528        0.011373          0.244311
414 2024-08-01  0.042213         0.01107          0.272242
415 2024-09-01   0.04051        0.009712          0.294118

[416 rows x 4 columns]